[submodule "modules/acul"]
	path = modules/acul
	url = ../acul.git
[submodule "cmake"]
	path = cmake
	url = ../acbt.git
[submodule "modules/agrb"]
	branch = master
	path = modules/agrb
	url = ../agrb.git
